USE [master]
GO
/****** Object:  Database [ExercisesTR]    Script Date: 02/06/2020 20:37:56 ******/
CREATE DATABASE [ExercisesTR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExercisesTR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ExercisesTR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExercisesTR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ExercisesTR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExercisesTR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExercisesTR]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 02/06/2020 20:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] IDENTITY(101,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 02/06/2020 20:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentsExams]    Script Date: 02/06/2020 20:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsExams](
	[StudentID] [int] NOT NULL,
	[ExamID] [int] NOT NULL,
 CONSTRAINT [PK_StudentsExams_Composite] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([ExamID], [Name]) VALUES (101, N'SpringMVC')
INSERT [dbo].[Exams] ([ExamID], [Name]) VALUES (102, N'Neo4j')
INSERT [dbo].[Exams] ([ExamID], [Name]) VALUES (103, N'Oracle 11g')
SET IDENTITY_INSERT [dbo].[Exams] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [Name]) VALUES (1, N'Mila')
INSERT [dbo].[Students] ([StudentID], [Name]) VALUES (2, N'Toni')
INSERT [dbo].[Students] ([StudentID], [Name]) VALUES (3, N'Ron')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
INSERT [dbo].[StudentsExams] ([StudentID], [ExamID]) VALUES (1, 101)
INSERT [dbo].[StudentsExams] ([StudentID], [ExamID]) VALUES (1, 102)
INSERT [dbo].[StudentsExams] ([StudentID], [ExamID]) VALUES (2, 101)
GO
ALTER TABLE [dbo].[StudentsExams]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[StudentsExams]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
USE [master]
GO
